{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        {% include "core/navbar.html" %}
        <div class="row" style="margin-top: 6%">
          <div class="col-sm-2 left-block">  
          </div>
          <div class="col-sm-8">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
          </div>
          <div class="col-sm-2 right-block">
            {% if user.is_superuser %}
            <a class="nav-link" href="admin"> Admin page</a>
            {% endif %}
          </div>
        </div>
        <div class="container-fluid">
          {% include "core/footer.html" %}
        </div>
      </div>
    </div>
  </body>
</html>